@import "tailwindcss";
@font-face {
    font-family: ElmsSans;
    src: url(./../font/ElmsSans-VariableFont_wght.ttf);
}
body{font-family: ElmsSans;}
.custom-shape-divider-bottom-1763164533 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1763164533 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 64px;
}

.custom-shape-divider-bottom-1763164533 .shape-fill{
    fill: #e0e7ff80;
}
.white .shape-fill{
    fill: #ffffff;
}